<div class="container" >
    <form class="d-flex"  action="/" method="get" style="margin-top:5px;">
        <select name="catergory" class="form-select" aria-label="Default select example" style=" border-radius: 15px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <option value="all">All product menu</option>
          <option value="phone">Phone</option>
          <option value="t.v">T.v</option>
          <option value="Clothes">Clothes</option>
          <option value="Laptop">Laptop</option>
        </select>
        <button class="btn btn-outline-success" type="submit"style=" margin-left: 10px;">Filter</button>
      </form>
</div>